@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.send-message {
    margin: 10px 5px;
    background-color: white;
    border-radius: 45px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    padding: 5px;
}

textarea {
    border-radius: 50px;
    border: none;
    width: 100%;
    resize: none;
    height: 50px;
    padding: 15px;
}
textarea:focus {
    outline: none;
}

button {
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgreen;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(0, 128, 17);
    border:none
}

.form-label {
    display: none;
}