.contact-screen {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.chat {
    display: flex;
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/12ee6265-e947-474a-a378-6d78ab0d1117/d8fr7iz-082cab4c-3f87-47e1-b2f0-efdb504372e5.jpg/v1/fill/w_1024,h_576,q_75,strp/super_hero_whatsapp_background_by_x_ama_d8fr7iz-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTc2IiwicGF0aCI6Ii9mLzEyZWU2MjY1LWU5NDctNDc0YS1hMzc4LTZkNzhhYjBkMTExNy9kOGZyN2l6LTA4MmNhYjRjLTNmODctNDdlMS1iMmYwLWVmZGI1MDQzNzJlNS5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.jN8jKcTXD3VhytkXV7sLVzJMVRsGOmLsJDN6Jw8i9Vs');
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.contact-selected {
    display: flex;
    background-color: whitesmoke;
    flex-direction: row;
    align-items: center;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profile-picture {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    padding: 8px;
}

.back-arrow{
        display: none;
    }

@media (max-width: 768px) {
    .contact-sidebar-container {
        display: none;
    }
    .back-arrow{
        display: flex;
        margin: 10px;
        font-size: larger;
    }
}