@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: inherit
}

h2 {
    margin: 10px;
}

.contact-sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    width: 25%;
    height: 100vh;
}

.contact-list {
    display: flex;
    width: 25%;
    flex-direction: column;
    justify-content: flex-start;
}

hr {
    width: 100%;
}

.contact {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 5px;
}

.contact:hover {
    border-radius: 30px;
    background-color: whitesmoke;
    color: green;
}

.profile-picture-sidebar {
    margin: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}